body,html{
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow: scroll;
    margin-top:0 !important ;
}
html::-webkit-scrollbar {
    display: none;
}

canvas{
    width: 100% !important;
}