.sidebar-parent {
    display: 'flex';
}

.logo{
    padding: 0!important;
    justify-content: center!important;
}

.burger-btn {
    padding-right: 0!important;
    justify-content: center!important;
}

.sidebar-btn {
    padding-left: 2.5;
    padding-right: 2.5;
    min-height: 48;
}

.siderbar-list-item {
    display: 'block';
}

.css-1xwrmxo-MuiListItemIcon-root {
    margin-right: 0!important;
}

.small_logo_img{
    width: 60px;
    height: 60px;
}

/* .large_logo_img{
    width: ;
} */