.doc-dash{
    width: 50%;
    height: 100vh;
    border: 2px solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 25px;
    box-sizing: border-box;
}

/* first part  */
.greeting{
    width: 100%;
    height: 160px;
    border: 2px solid orange;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.doctor-details,.doctor-image{
    /* border:2px solid black; */
    height: 100%;
    width: 50%;
    box-sizing: border-box;
}

.doctor-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details{
    font-size: 1.5rem;
    /* border: 2px solid black; */
    margin-bottom:2%;
    height: 30%;
    /* display: inline-block; */

}

.line{
    font-size: 1rem;
}
.doctor-image{
    width: 25%;
    height: 160%;
}
.doctor-image img{
    height: 100%;
    width: 100%;
}


/* second part */

.doc-quicks{
    border:2px solid black;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 5%;

}

.doc-quicks-boxes{
    border: 2px solid orange;
    width: 33%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pres-btns{
    margin-bottom: 4%;
    padding-left: 5%;
    box-sizing: border-box;
}

.write-icon{
    height: 25%;
    font-size: 2em;
    box-sizing: border-box;
    padding-left: 6%;
    width: auto;
    
}
.font{
    font-weight: 700;
}

.template{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* margin-left: 5%; */
    margin-right: 5%;
    align-items: center;
}
.template span{
    display: block;
    font-size: 0.8em;
}
.arrow-btn{
    font-size: 2.5em !important;
}

/* third part */

.graph{
    border: 2px solid black;
    width: 100%;
    height: 30%;
}