.doctor_image {
width: 60px;
height: 60px;
border-radius: 50%;
border:2px solid white;

}

.card {
border-radius: 25px;
padding: 10px;
height: 150px;
display: flex;
flex-direction: row;
margin: 15px;
background-color: #B7D6FE;
width: auto;
}

.divs{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;   
}
.left{
    width: 30%;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.card_logo{
    width: 130px;
    height: 40px;  
}
.card_logo img{
    height: 100%;
    width: 100%;
}

.doc_name{
    position: relative;
    left: 25px;
}