.name_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.name_logo div{
    width: 100%;
    margin-bottom: 30px;   
}

.image_div img{
    display: block;
    margin: auto;
    height: 40%;
    width: 40%;
}

.text {
    display: flex;
    justify-content: center;
}

.table{
    width: 90% !important;
    margin: auto !important; 
}