.parent {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.child {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hos,
.doct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numeric {
    margin-left: 10px;
}
.hos img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}
